h3 {
  font-size: 16px;
}

.poster {
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.poster:hover {
  filter: brightness(1.2);
  transform: translateY(-5px);
}
