<div class="row" *ngIf="movie">
  <div class="col-md-6">
    <img
      class="img-thumbnail animate__animated animate__fadeInLeft"
      [src]="movie.poster_path | poster"
      [alt]="movie.title"
    />
  </div>
  <div class="col-md-6 animate__animated animate__fadeIn animate__delay-500">
    <h3>{{ movie.title }}</h3>
    <div class="row">
      <div class="col">
        <star-rating
          [value]="movie.vote_average"
          totalstars="10"
          checkedcolor="yellow"
          uncheckedcolor="gray"
          size="14px"
          readonly="false"
        ></star-rating>
      </div>
      <div class="col text-light">
        {{ movie.vote_average | number: "1.1-2" }}
      </div>
    </div>
    <div class="row mt-3">
      <div
        class="col text-light"
        [style.font-style]="movie.overview ? 'normal' : 'italic'"
      >
        {{ movie.overview || "No overview." }}
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <button (click)="onBack()" class="btn btn-outline-danger">Back</button>
      </div>
    </div>
  </div>
</div>

<div
  class="row mt-5 mb-5 animate__animated animate__fadeInUp animate__delay-800"
  *ngIf="cast.length > 0"
>
  <div class="col">
    <app-cast-slideshow [cast]="cast"></app-cast-slideshow>
  </div>
</div>
